@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import "tailwindcss";


/*Could also create a font with the tool saved in the are.na page, using gemini - bold
sharpie style work that I always do in my drawings*/

/* ---------- CSS variables ---------- */
/* :root {
  --background: #292341;
  --foreground: #e7d274;
} */

:root {
  --background: #f6b9da;
  --foreground: #ce2160;
}
/* Dark mode\ via system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #292341;
    --foreground: #e7d274;
  }
}

@font-face {
  font-family: RasterGrotesk; 
  font-style: normal; 
  font-weight: 200 700; 
  src: url("./fonts/FKRasterGrotesk-Smooth.woff");
}

@font-face {
  font-family: BianZhi; 
  font-style: normal; 
  font-weight: 400; 
  src: url("./fonts/BianZhiDai-comic.woff"); 
}

@font-face {
  font-family: Louize; 
  font-style: normal; 
  font-weight: 400; 
  src: url("./fonts/LouizeDisplayTrial-Regular.otf"); 
}

@font-face {
  font-family: Editorial; 
  font-style: normal; 
  font-weight: 400; 
  src: url("./fonts/EditorialNew_regular.otf"); 
  font-variation-settings:
    "ROND" 0;
  font-optical-sizing: auto;
}

@theme {
  --font-rasterGrotesk: "RasterGrotesk", sans-serif;
  --font-doto: "Doto", sans-serif; 
  --font-bianzhidai: "BianZhi", sans-serif; 
  --font-louize: "Louize", sans-serif; 
  --font-editorial: "Editorial", sans-serif
  --color-primary: #353f99; 
  --color-secondary: #00fff; 
}


/* ---------- Global element styles ---------- */
html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
